<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Litt.bio</title>
</head>
<body>
    <header class="home__header">
        <div class="container">
            <h1>Litt.bio</h1>
            <h3>Simple links pages for bios without all the non-sense.</h3>
        </div>
    </header>
    <main>
        <div class="container">
            <section class="home__intro">
                <p>
                    Litt.bio is a service for creating link pages you can add to your social media. It
                    provides a simple way for you to share all you important links to your fans.
                </p>
                <p>
                    Share your music, your merch, your videos. Without all the marketing bull-shit other
                    services have.
                </p>
                <p>
                    Free of tracking, advertising, and super fast.
                </p>
            </section>
        </div>
    </main>
</body>
</html>
